.incidents-container {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.incidents-table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 1em;
    font-family: 'Arial, sans-serif';
    min-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.incidents-table thead tr {
    background-color: #c82333;
    color: #ffffff;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.incidents-table th,
.incidents-table td {
    padding: 12px 15px;
    text-align: center;
}

.incidents-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.incidents-table tbody tr:last-of-type {
    border-bottom: 2px solid #c82333;
}

.incidents-table tbody tr.active-row {
    font-weight: bold;
    color: #dddddd;
}

.incidents-table tbody tr.resolved {
    background-color: #f3f3f34b;
    color: #dddddd;
}

.incidents-table tbody tr:hover {
    background-color: #e0e0e098;
    cursor: pointer;
}

.filter-menu {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    text-align: center;
}

.filter-menu select {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #dddddd;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    cursor: pointer;
}

.filter-menu select option {
    background-color: #333;
    color: white;
}