.incident-detail-container {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 80%;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

.incident-detail-container h1 {
    color: #c82333;
    margin-bottom: 20px;
}

.incident-detail-container p {
    margin: 10px 0;
    max-width: 100%;
    text-align: center;
}

.incident-detail-container button {
    padding: 10px 20px;
    margin: 10px 10px 0 0;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.incident-detail-container button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin: 20px 0;
}